<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AdditionalNugetPackages" value=".\NugetPackages\" />
    <add key="xpf" value="https://xpf-nuget-feed.avaloniaui.net/v3/index.json" />
    <add key="avalonia-nightly" value="https://nuget-feed-all.avaloniaui.net/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
      <xpf>
        <add key="Username" value="license" />
        <add key="ClearTextPassword" value="" />
      </xpf>
    </packageSourceCredentials>
</configuration>